/* No seu arquivo "proposta.css" ou em um arquivo de estilo separado */
h1 {
  text-align: center;
  margin: 2rem 0;
  color: #FFD700;
  margin-bottom: 35px;
}
.subscription-card {
  /* Estilos para o card de assinatura */
  border: 2px solid #b53cf6;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: transparent; 
  margin-bottom: 35px;
}

.subscription-card:hover{
  transform: scale(1) translateY(20px);
}

/* Estilo para o efeito neon */
h3 {
  font-size: 2rem; /* Tamanho da fonte */
  color: #fff; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  text-transform: uppercase; /* Transformar o texto em maiúsculas */
  position: relative; /* Posição relativa para adicionar o brilho */
  animation: neon 1.5s ease-in-out infinite alternate; /* Animação de brilho */
}

/* Animação de brilho */
@keyframes neon {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff, 0 0 90px #ff00ff;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff, 0 0 90px #ff00ff;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff, 0 0 90px #ff00ff;
  }
}

.old-price {
  /* Estilos para o preço antigo (riscado) */
  color: #999;
  text-decoration: line-through; /* Adiciona um risco no preço antigo */
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.current-price {
  /* Estilos para o preço atualizado */
  color: #e50914; /* Vermelho para chamar atenção */
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
button {
  background-color: #b53cf6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff0000;
}