nav {
    position: fixed; /* Define o posicionamento fixo */
    width: 100%; /* Define a largura total */
    background-color: rgba(0, 0, 0, 0.9); /* Cor de fundo com transparência */
    transition: height 1s; /* Adiciona uma transição suave na altura */
  }
  /* Define uma classe para aplicar à barra de navegação quando ela está "engolindo" */
  .nav-engolindo {
    height: 80px; /* Altura menor quando "engolindo" */
  }
  /* Estilize o conteúdo abaixo da barra de navegação */
  #conteudo {
    margin-top: 80px; /* Margem superior para evitar que o conteúdo fique sob a barra de navegação */
}