* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }
body {
  background-color: #000;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;    
}
::-webkit-scrollbar {
  display: none;
}/*Esse código não é meu, Roubei :)*/
