* {
  margin: 0;
  padding: 0;
}.App {
  background-color: #ffffff;
  color: #000000;
}

/* Classe para o tema escuro */
.App.dark-mode {
  background-color: #000000;
  color: #ffffff;
} 
body {
  background-color: #000;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;  
  overflow-x: hidden; /*Esse código não é meu, Roubei :)*/
}
::-webkit-scrollbar {
  display: none;
  overflow-x: hidden; /* Impede o scroll horizontal */
}
@keyframes showSidebar {
  from {margin-left: -100vw;}
  to {margin-left: -10vw;}
}@keyframes fadeIn {
  to {
      opacity: 1; 
  }
}/*Esse código não é meu, Roubei :)*/
@keyframes efeito {
0% {
  transform: scale(0);
  opacity: 0;
}
100% {
  transform: scale(1);
  opacity: 1;
}
}
@keyframes h2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}