 *,
*::after,
*::before {
  padding:0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
html {
  font-size: 62.5%;
}
.nav-img {
  width: 100px; /* Defina a largura desejada */
  height: auto; /* Mantém a proporção de altura original */
  border-radius: 50%
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
} a:hover{
  color: #FFD700;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  margin-bottom: 30px
}
.nav__brand {
  text-transform: uppercase;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #e6e4ff;
  transition: 0.1s ease-in;
}
@media screen and (max-width: 768px) {
  a.nav__link{
    color: #000;
    font-weight: 800;
  }a:hover{
    color: #700000;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    margin-top: 10px;
    top: 15vh;
    right: 0;
    height: 100%;
    width: 100%;
    background: #e7deff;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  } 
}
.nav__active {
  z-index:1;
  transform: translateX(0%);
}
.toggle .lineum {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .linedois {
  opacity: 0;
}
.toggle .linetres {
  transform: rotate(45deg) translate(-4px, -5px);
}
/* Estilo base para o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* Estilização do conteúdo do dropdown */
.dropdown-content {
  position: absolute;
  background-color: #3f16af56;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Efeito hover para mostrar o conteúdo */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Estilização dos itens do dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.6s;
}
/* Efeito hover para os itens */
.dropdown-content a:hover {
  background-color: #fff; /* Cor de destaque */
  color: #000;
}
.nav__link {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.nav__link:disabled {
  pointer-events: none;
}
.nav__link:hover {
  transform: translateY(-2px);
}
.nav__link:active {
  box-shadow: none;
  transform: translateY(0);
}