.result{
  margin-top: 45px;
}
.resultMovie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  background-color: #000;
  width: 100%; 
}
.card {
  flex: 0 0 calc(33.333% - 2rem);
  background-color: #000; /* Cor de fundo branca */
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sutil sombra */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 80px;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
}
.movie-card  {
  max-width: 100%;
  height: 450px;
  border-radius: 15px; /* Arredondamento das bordas da imagem */
}
.movie-info {
  margin-top: 10px;
}
.icons p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.icon {
  color: #f00;
  margin-right: 5px;
  background-color: none;
}
.star-icon {
  color: yellow;
  margin-right: 5px;
  font-size: 18px;
} .icon {
  /* Estilos padrão do ícone do coração */
  cursor: pointer;
  transition: transform 0.3s ease; /* Adicione uma transição suave ao transform */
}

.favorited {
  transform: scale(1.2); /* Um exemplo de transformação para o efeito de clique */
}

.search-box {
  background-color: black; /* Fundo preto */
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.Pesquisar {
  display: flex;
  align-items: center;
}
.InputPes {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black; /* Fundo preto */
  color: #fff;
}
.BtnPes {
  background-color: #b53cf6;
  color: #fff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.BtnPes:hover {
  background-color: #b53cf6;
}
.BtnLimpar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.BtnLimpar:hover {
  background-color: #c82333;
}
.InputPes,
.BtnPes,
.BtnLimpar {
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.search-box:hover {
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}
/* Estilos para telas pequenas (até 768px) */
@media (max-width: 768px) {
  .result {
    margin-bottom: 180px;
  }

  .card {
    flex: 0 0 calc(50% - 1rem);
  }
}

/* Estilos para telas médias (de 769px a 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .result {
    margin-top: 30px;
  }

  .card {
    flex: 0 0 calc(33.333% - 1rem);
  }
}

/* Estilos para telas grandes (acima de 992px) */
@media (min-width: 993px) {
  .result {
    margin-top: 45px;
  }

  .card {
    flex: 0 0 calc(25% - 1rem);
  }
}