.custom-toast-error {
    background-color: #000; /* Define o fundo vermelho */
    color: white; /* Define a cor do texto como branco */
    font-weight: bold; /* Define o texto em negrito */
} h1{
    margin-top: 50px;
  }